*~
.*
*.bak
*.o
*.swp
*.tar.gz
*.tmp
*.class

!.appveyor.yml
!.cirrus.yml
!.github
!.gitignore
!.perltidyrc
!.travis.yml

/MYMETA.*
/Makefile
/blib
/pm_to_blib
/scratch
/keep
/t/in-progress
/t/files/0010-apache-commons-compress/commons-compress-1.20
