/*~
.*
*.bak
*.class
*.o
*.swp
*.tar.gz
*.tmp

!.appveyor.yml
!.cirrus.yml
!.github
!.gitignore
!.perltidyrc
!.travis.yml

/MYMETA.*
/Makefile
/Makefile.old
/blib
/git-sim_media
/keep
/pm_to_blib
/regression
/releases
/scratch
/t/files/0010-apache-commons-compress/commons-compress-1.20
/t/in-progress
/tmp

# NYTProf files
/nytprof
nytprof.out
nytprof.callgrind
