default
    exit-status 0
    stdout      stdout
    stderr      NULL

-v
    exit-status 0
    stdout      stdout-v
    stderr      NULL

--walk
    exit-status 0
    stdout      stdout
    stderr      NULL

-v --walk
    exit-status 0
    stdout      stdout-v
    stderr      NULL

--scan
    exit-status 0
    stdout      stdout
    stderr      NULL

-v --scan
    exit-status 0
    stdout      stdout-v
    stderr      NULL