default
    exit-status 1
    stdout      NULL
    stderr      stderr

-v
    exit-status 1
    stdout      NULL
    stderr      stderr

--walk
    exit-status 0
    stdout      stdout--walk--scan
    stderr      NULL

-v --walk
    exit-status 0
    stdout      stdout-v--walk--scan
    stderr      NULL

--scan
    exit-status 0
    stdout      stdout--walk--scan
    stderr      NULL

-v --scan
    exit-status 0
    stdout      stdout-v--walk--scan
    stderr      NULL