default
    exit-status 0
    stdout      stdout
    stderr      NULL

-v
    exit-status 0
    stdout      stdout-v
    stderr      NULL

--walk
    exit-status 0
    stdout      stdout--walk
    stderr      NUYLL

-v --walk
    exit-status 0
    stdout      stdout-v--walk
    stderr      NULL

--scan
    exit-status 0
    stdout      stdout--scan
    stderr      NUYLL

-v --scan
    exit-status 0
    stdout      stdout-v--scan
    stderr      NULL